<div class="container">
    <div class="row">
        <div class="col-md-9">
            <button type="button" class="btn btn-primary btn-top" (click)="onAddNewAppointment()">Add New Appointment</button>
            <hr>
            <div *ngFor="let a of appointments">
                <div class="row">
                    <div class="col-md-3">
                        Time: {{a.DateTime.toDateString()}}
                    </div>
                    <div class="col-md-4">
                        Doctor: {{a.doctorName}}
                    </div>
                    <div class="col-md-4">
                        Patient: {{a.patientName}}
                    </div>
                    <div class="col-md-1">
                        <button type="button" (click)="showAppointmentModal(a.Id)" class="btn btn-outline-warning">Cancel</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>