<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">GpLink</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/doctors" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Doctors <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/appointments" routerLinkActive="active">Appointments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/patients" routerLinkActive="active">Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/auth" routerLinkActive="active">Sign Up</a>
            </li>
            <li class="nav-item" *ngIf="IsUserLoggedIn()">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign In</a>
            </li>
        </ul>
    </div>
</nav>
