<div class="modal-header">
    <h4 class="modal-title">Are you sure!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click');">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <form [formGroup]="appointmentForm" (ngSubmit)="onAppointmentFormSubmit()">

        <div class="form-group">
            <label for="doctorName">Doctor</label>
            <input type="text" [attr.disabled]="editMode === 'delete' ? '' : null" id="doctorName" class="form-control" formControlName="doctorName" name="doctorName" *ngIf="editMode === 'delete'">
            <select class="form-control" id="selectedDoctor" name="selectedDoctor" formControlName="doctorId" *ngIf="editMode === 'add'" [attr.disabled]="userRole === 'doctor' ? '' : null">
              <option value=""></option>
              <option *ngFor="let doctor of doctors"
                [value]="doctor.Id">
                {{doctor.FirstName + " " + doctor.LastName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="patientName">Patient</label>
            <input type="text" [attr.disabled]="editMode === 'delete' ? '' : null" id="patientName" class="form-control" formControlName="patientName" name="patientName" *ngIf="editMode === 'delete'">
            <select class="form-control" id="selectedPatient" name="selectedPatient" formControlName="patientId" *ngIf="editMode === 'add'" [attr.disabled]="userRole === 'patient' ? '' : null">
                <option value=""></option>
                <option *ngFor="let patient of patients"
                  [value]="patient.Id">
                  {{patient.FirstName + " "+ patient.LastName}}</option>
              </select>
        </div>
        <div class="form-group">
            <label for="appointmentDateTime">Appointment Date Time</label>
            <input type="text" [attr.disabled]="editMode === 'delete' ? '' : null" id="appointmentDateTime" class="form-control" formControlName="appointmentDateTime" name="appointmentDateTime">
            <app-app-date-picker *ngIf="editMode === 'add'" (dateChangedEvent)="appointmentDateChanged($event)"></app-app-date-picker>
            <select *ngIf="editMode === 'add'" (change)="onTimeChanged(selectTime.value)" #selectTime>
              <option value=""></option>
              <option *ngFor="let t of appointmentTimeList"
                [value]="t.Hour + ':'+ t.Minute">
                {{t.Hour + ':'+ t.Minute}}
              </option>
            </select>
        </div>




        <div class="form-group">
            <button type="submit" class="btn btn-danger">{{editMode === 'add' ? 'Add' : 'Cancel Appointment'}}</button>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click');">Close</button>
</div>
