
<div class="container">
    <div class="row">
        <span><input name="searchDoctors" [(ngModel)]="doctorFound"/> Search <button class="btn-primary" name="Search">Search</button> </span>
    <br/><br/><br/>
    seaching {{doctorFound}}
    
    </div>
    <div class="row">
        <div class="col-sm">
            <ul>
                <li *ngFor="let d of doctors">
                    Doctor {{d.FirstName}} {{d.LastName}}. Email {{d.Email}}
                </li>
            </ul>
        </div>
        <div class="col-sm">

        </div>
    </div>
    
</div>
