<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form (ngSubmit)="onSignUpFormSubmitted()" [formGroup]="signupForm">
                <div class="form-group">
                    <label for="firstName">* First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
                    <span class="alert-danger" *ngIf="isFieldInvalid('firstName')">First Name is required</span>
                </div>
                <div class="form-group">
                    <label for="lastName">* Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
                    <span class="alert-danger" *ngIf="isFieldInvalid('lastName')">Last Name is required</span>
                </div>
                <div class="form-group">
                    <label for="username">* Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username" required>
                    <span class="alert-danger" *ngIf="isFieldInvalid('username')">Username is required</span>
                </div>
                <div class="form-group">
                    <label for="password">* Password</label>
                    <input type="text" class="form-control" id="password" formControlName="password" required>
                    <span class="alert-danger" *ngIf="isFieldInvalid('password')">Password is required</span>
                </div>
                <div class="form-group">
                    <label for="email">* Email</label>
                    <input type="text" class="form-control" id="email" formControlName="email" required>
                    <span class="alert-danger" *ngIf="isFieldInvalid('email')">Email is required</span>
                </div>
                <div class="form-group">
                    <label for="phone">* Phone</label>
                    <input type="text" class="form-control" id="phone" formControlName="phone">
                    <span class="alert-danger" *ngIf="isFieldInvalid('phone')">Phone is required</span>
                </div>
                <div class="form-group">
                    <label for="type">* Type</label>
                    <select class="form-control" id="type" formControlName="type">
                    <option value=""></option>
                    <option value="doctor">Doctor</option>
                    <option value="patient">Patient</option>
                    </select>
                    <span class="alert-danger" *ngIf="isFieldInvalid('type')">Type is required</span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-secondary form-control" (click)="onCancelSignup()">Cancel</button>
                        </div>
                    </div>



                    <span class="alert-danger" *ngIf="!validRegistration">All required fields must be provided</span>
                    <span class="alert-danger" *ngIf="!signUpResult">The username has been taken</span>
                </div>
            </form>
        </div>
    </div>
</div>